<!--検索結果-->
<div class="container my-5">
  <%= render 'admin/header' %>

<div class="row mt-5">
  <h3>検索結果 "<%= @keyword %>"</h3>
</div>

<div class="row my-3">
  <div class="pull-right">
    <!--検索機能-->
    <%= form_with url: search_admin_items_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
    <% end %>
    <%= link_to "クリア" , admin_items_path, class: "btn btn-outline-secondary mt-1" %>
  </div>
</div>

<div class="row">
  <% @items.each do |item| %>

  <div class="col-3 mt-3">
    <%= link_to admin_item_path(item) do %>
      <%= image_tag item.get_image(150,150) %></br>
    <span>
      <%= item.name %>
      <% end %>
    </span></br>
    <div>
      コメント：<%= item.comments.count %>件</br>
      ♥<%= item.favorites.count %> いいね
    </div>
    <div>
      <%=link_to admin_customer_path(item.customer) do %>
        <%= item.customer.name %>
      <% end %>
    </div>
    </div>
    <% end %>
</div>

<div class="container">
	<div class="row">
	 <div class="col-md-4 offset-md-4 py-2 mt-5">
	 	<%= paginate @items %>
	 </div>
	</div>
</div>

</div>