<!--投稿詳細ページ-->
<div class="container my-5">
  <%= render 'public/header' %>

<!--メッセージ-->
  <div class="row d-flex justify-content-center">
    <% if flash[:item_update] %>
      <span class="text-primary"><%= flash[:item_update] %></span>
    <% end %>
    <% if flash[:item_create] %>
      <span class="text-primary"><%= flash[:item_create] %></span>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <div><!--ユーザー名_部分テンプレート(_user)-->
        <%= render 'public/customers/user', customer: @customer %>
      </div></br>
      <div><!--新規投稿機能-->
        <%= link_to "新規投稿", new_item_path, class: "btn btn-success" %>
      </div></br>
      <div><!--コメント機能-->
        <%= form_with model: [@item, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-8">
      <table>
        <tbody>
          <tr><!--画像表示-->
            <td colspan="2"><%= image_tag @item.get_image(300,300) %></td>
          </tr>
          <tr><!--いいね機能-->
            <td colspan="2">
              <% if @item.favorited_by?(current_customer) %>
                <%= link_to item_favorites_path(@item), method: :delete do %>
                  ♥<%= @item.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to item_favorites_path(@item), method: :post do %>
                  ♡<%= @item.favorites.count %> いいね
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>ペット名前</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>種別</td>
            <td><%= @item.category %></td>
          </tr>
          <tr><!--本文-->
            <td colspan="2"><%= @item.body %></td>
          </tr>
          <% if @customer == current_customer %>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @item.is_draft %>
                <span class="text-primary">
                  <strong>公開中</strong>
                </span>
              <% else %>
                <span class="text-danger">
                  <strong>非公開中</strong>
                </span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= link_to "編集", edit_item_path(@item), class:"btn btn-success" %></td>
            <td><%= link_to "削除", item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row mt-5">
       コメント件数：<%= @item.comments.count %>
       <table class="table table-striped text-center">
         <tbody>
           <% @item.comments.each do |comment| %>
             <tr>
               <td><%= comment.comment %></td>
               <td>
                 <%= link_to customer_path(comment.customer) do %>
                   <%= comment.customer.name %>さん
                  <% end %>
               </td>
               <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
               <td>
                  <% if comment.customer == current_customer %>
                   <%= link_to "削除", item_comment_path(comment.item, comment), method: :delete %>
                  <% end %>
               </td>
             </tr>
            <% end %>
           </tbody>
         </table>
      </div>
    </div>
   </div>
</div>